#graph-window {
    position: relative;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 500px;
    border: solid black 1px;
}
.node {
    text-align: center;
    position: absolute;
    width: 24px;
    height: 24px;
    mask-image: url('node.svg');
    border-radius: 50%;
}
